 h1 {
  font-family: 'Courier New', Courier, monospace;
  color:blue;
  }
  img {
    width: 150px;
    float: left;
    height: 150px;
    
  }
  .info{
    color: rgb(126, 126, 223);
    margin-left: 100px;
    padding-left: 100px; 
    right: 30px;
  }
  p{
   margin-left: 100px;
   padding-left: 100px;
   right: 30px;
  }
  
  
  
